VITE_SUPABASE_URL=https://ivsakdeyqovxvammqftt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml2c2FrZGV5cW92eHZhbW1xZnR0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgyMDQ1NzQsImV4cCI6MjEwMzc4MDU3NH0.gAs5zX3YbKGvgkSFcZVuCHQQuFhpxZIht2S_A_DxnDM
